asgiref==3.2.3
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
coverage==5.0.3
Django==3.0.4
gunicorn==20.0.4
idna==2.9
Pillow==7.0.0
pytz==2019.3
requests==2.23.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.8
whitenoise==5.0.1
social-auth-app-django==3.1.0
social-auth-core==3.3.3