/* .title {
	position: relative;
	width: 263px;
	height: 77px;
	margin-left: 5vh;

	font-family: Open Sans;
	font-style: bold;
	font-weight: 800;
	font-size: 48px;
	line-height: 77px;
	letter-spacing: 0.11em;

	color: #08154A;
}

.rectangle {
	position: relative;
	margin-left: 5vh;
	margin-bottom: 4vw;
	height: 10px;
	width: 200px;
	background-color: #40D0CE;
	border-radius: 50px;
}

.titleUnderline {
	position: relative;
	height: 10px;
	padding-bottom: 5vw;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-bottom: 5vw;
	
	background: #40D0CE;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.articleBox {
	position: relative;
	padding-top: 2vh;
	padding-left: 7vw;
	padding-right: 7vw;
	padding-bottom: 5vw;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-bottom: 5vw;
	
	background: #F0FAF9;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.articleTitle {
	position: relative;
	margin-top: 3vw;
	margin-bottom: 0;

	font-family: Open Sans;
	font-style: normal;
	font-weight: 800;
	font-size: 4.6vw;
	line-height: 5vw;

	color: #40D0CE;
}

.articleSubTitle {
	position: relative;
	margin-top: 0;
	
	font-family: Open Sans;
	font-style: normal;
	font-weight: 550;
	font-size: 3.1vw;
	line-height: 5vw;

	color: #40D0CE;
}

.articleText {
	position: relative;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5vh;
	line-height: 161.18%;
	text-align: justify;
}

.row {
	padding-left: 5vw;
	padding-right: 5vw;
}
 */
