{% extends 'base.html' %}
<!doctype html>
{% load static %}
<html lang="en"><head>
  <title>CarPage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
</style></head>

{% block content %}
<body style="overflow-x:hidden; background-color:#D8E7E6;">
	
	<div class="row">
		<br><br><br><br><br><br><br><br><br><br><br>
	</div>
	
	<div class="row" style="padding-left:0; padding-bottom: 5vw">
		<div class="col-sm-5 section">
			<img class="carImg" src="/static/img/testCar.jpg"></img>
		</div>
	
		<div class="col-sm-7 section">
			<h1 class="carTitle">{{ recomended_car.name }}</h1>
			<h2 class="carSubTitle">{{ recomended_car.category }} - {{ recomended_car.year }}</h2>
			<h3 class="price">Rp {{ recomended_car.price }}</h3>
			<div class="row" style="padding-left:15px; margin-top:10vh;">
				<div class="dot">
					<h4 class="type">{{ recomended_car.city }}</h4>
				</div>
			</div>
			<div class="row" style="padding-left:15px">
				<div class="dot">
					<h4 class="owner">{{ recomended_car.username }}</h4>
				</div>
			</div>
		</div>
	</div>
	
	<!--Big Star Rating-->
	<div class="row" style="text-align:center; margin-top:30px;">
		<span class="fa fa-star big checked"></span>
		<span class="fa fa-star big checked"></span>
		<span class="fa fa-star big checked"></span>
		<span class="fa fa-star big checked"></span>
		<span class="fa fa-star big checked"></span>
	</div>
	
	<!--Small Ratings-->
	<div class="row" style="padding-top:60px; padding-left:5vw; padding-right:5vw">
		
		<!--Small Rating 1-->
		<div class="col-sm-4 reviewBox">
			<div class="row" style="text-align:center; margin-top:30px; padding:0;">
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
			</div>
			<div class="row" style="padding-right:30px; padding-left:30px;">
				<p class="reviewText">
					“Lorem ipsum dolor sit 
					amet, consectetur 
					adipiscing elit,”
				</p>
			</div>
		</div>
		
		<!--Small Rating 2-->
		<div class="col-sm-4 reviewBox">
			<div class="row" style="text-align:center; margin-top:30px; padding:0;">
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
			</div>
			<div class="row" style="padding-right:30px; padding-left:30px;">
				<p class="reviewText">
					“Lorem ipsum dolor sit 
					amet, consectetur 
					adipiscing elit,”
				</p>
			</div>
		</div>
		
		<!--Small Rating 3-->
		<div class="col-sm-4 reviewBox">
			<div class="row" style="text-align:center; margin-top:30px; padding:0;">
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
			</div>
			<div class="row" style="padding-right:30px; padding-left:30px;">
				<p class="reviewText">
					“Lorem ipsum dolor sit 
					amet, consectetur 
					adipiscing elit,”
				</p>
			</div>
		</div>
		<!--Small Rating 4-->
		<div class="col-sm-4 reviewBox">
			<div class="row" style="text-align:center; margin-top:30px; padding:0;">
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
			</div>
			<div class="row" style="padding-right:30px; padding-left:30px;">
				<p class="reviewText">
					“Lorem ipsum dolor sit 
					amet, consectetur 
					adipiscing elit,”
				</p>
			</div>
		</div>
		<!--Small Rating 5-->
		<div class="col-sm-4 reviewBox">
			<div class="row" style="text-align:center; margin-top:30px; padding:0;">
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
				<span class="fa fa-star small checked"></span>
			</div>
			<div class="row" style="padding-right:30px; padding-left:30px;">
				<p class="reviewText">
					“Lorem ipsum dolor sit 
					amet, consectetur 
					adipiscing elit,”
				</p>
			</div>
		</div>
	</div>
	
	<div class="row">
		<h1 class="title2">SIMILAR PRODUCTS</h1>
		<div class="line"></div>
	</div>
	<div class="row" style="margin:auto;">
		{% for car in car_list %}
			<div class="col-sm-4 similarBox">
				<!--image-->
				<div class="row" style="padding:15px">
					<img class="similarImg" src="/static/img/testCar.jpg">
				</div>
				<!--title-->
				<div class="row" style="margin-left:auto; margin-right:auto;">
					<h1 class="similarTitle">{{ car.name }}</h1>
					<h2 class="similarSubTitle">{{ car.category }} - {{ car.year }}</h2>
				</div>
				<!--dots-->
				<div class="row" style="padding-left:15px;">
					<div class="dot">
						<h4 class="type">{{ car.name }}</h4>
					</div>
				</div>
				<div class="row" style="padding-left:15px">
					<div class="dot">
						<h4 class="type">{{ car.city }}</h4>
					</div>
				</div>
				<div class="row" style="padding-left:15px;">
					<div class="dot">
						<h4 class="type">Rp {{ car.price }}</h4>
					</div>
				</div>
				<div class="row" style="padding-left:15px">
					<div class="dot">
						<h4 class="type">{{ car.username }}</h4>
					</div>
				</div>
			</div>		
		{% endfor %}
	</div>
	
	<br><br><br><br><br><br><br><br>
</body>
{% endblock %}
</html>