{% extends 'base.html' %}
<!doctype html>
{% load static %}
<html lang="en"><head>
  <title>Category</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
</style></head>

{% block content %}
<body style="overflow-x:hidden; background-color:#D8E7E6;">
	
	<div class="row">
		<h1 class="title3">CATEGORY</h1>
		<div class="rectangle"></div>
	</div>
	
	<div class="row home1">
		<h1 class="title3" style="width:100vw; text-align:center; margin-left:0; margin-top:15vh; font-size:60px;">{{ title }}</h1>
	</div>

	<div class="row" style="margin-left: 20px; margin-right: 20px;">
		{% for car in car_list%}
		<!--category 1-->
		<div class="col-sm-4">
			<!--image-->
			<div style="margin-left:1px; margin-right:1px">
			<div class="categoryBoxUp">
				<div class="row" style="padding:15px">
					<img class="similarImg" src="/static/img/testCar.jpg">
				</div>
				<!--title-->
				<div class="row" style="margin-left:auto; margin-right:auto;">
					<h1 class="similarTitle">{{ car.name }}</h1>
					<h2 class="similarSubTitle">{{ car.category }} - {{ car.year }}</h2>
				</div>
				<!--dots-->
				<div class="row" style="padding-left:15px;">
					<div class="dot">
						<h4 class="type">{{ car.category }}</h4>
					</div>
				</div>
				<div class="row" style="padding-left:15px">
					<div class="dot">
						<h4 class="type">{{ car.city }}</h4>
					</div>
				</div>
				<div class="row" style="padding-left:15px;">
					<div class="dot">
						<h4 class="type">Rp {{ car.price }}</h4>
					</div>
				</div>
				<div class="row" style="padding-left:15px">
					<div class="dot">
						<h4 class="type">{{ car.username }}</h4>
					</div>
				</div>
				<br>
				<br>
			</div>
			<div class="collapse categoryBoxDown" id="collapseExample{{car.id}}">
				<div class="row" style="text-align:center; margin-top:30px; padding:0;">
					<span class="fa fa-star medium checked"></span>
					<span class="fa fa-star medium checked"></span>
					<span class="fa fa-star medium checked"></span>
					<span class="fa fa-star medium checked"></span>
					<span class="fa fa-star medium checked"></span>
				</div>
				<div class="row" style="padding-right:30px; padding-left:30px;">
					<p class="reviewText" style="color:#F0FAF9;">
						“Lorem ipsum dolor sit 
						amet, consectetur 
						adipiscing elit,”
					</p>
				</div>
			</div>	
			<div class="reviewCollapse">
				<a class="reviewText" style="color:#F0FAF9;" data-toggle="collapse" href="#collapseExample{{car.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
					Review
				</a>
			</div>
			</div>
		</div>
		{% endfor %}
	</div>
		
	<br><br><br><br><br><br><br><br>
</body>
{% endblock %}
</html>