{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form" id="rent">
    <h1 style="margin-top: 25vh;">RENT YOUR CAR</h1>
    <div class="line"></div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="expl">Car Name</label>
            <input class="form-control" id="name" type="text" name="name" maxlength="255" required
                placeholder="Please enter your car name">
        </div>
        <div class="form-group">
            <label for="carType" class=expl>Car Type</label>
            <select class="form-control" id="car_type" type="text" name="car_type" maxlength="6" required>
                <option>SUV</option>
                <option>CUV</option>
                <option>SEDAN</option>
            </select>
        </div>
        <div class="form-group">
            <label for="year" class="expl">Year</label>
            <input class="form-control" id="year" type="text" name="year" maxlength="255" required
                placeholder="From what year is it?">
        </div>
        <div class="form-group">
            <label for="location" class="expl">Location</label>
            <input class="form-control" id="location" type="text" name="location" maxlength="255" required
                placeholder="Your location?">
        </div>
        <div class="form-group">
            <label for="owner" class="expl">Owner</label>
            <input class="form-control" id="owner" type="text" name="owner" maxlength="255" required
                placeholder="Who is the owner?">
        </div>
        <div class="form-group">
            <label for="price" class="expl">Price</label>
            <input class="form-control" id="price" type="text" name="price" maxlength="255" required
                placeholder="How much?">
        </div>
        <div class="form-group">
            <label for="description" class="expl">Description</label>
            <input class="form-control" id="description" type="text" name="description" maxlength="1000" required
                placeholder="Description">
        </div>
        <button type="submit" id="submitBtn">Submit</button>
    </form>
</div>
{% endblock %}